body{
background-color: rgb(89, 168, 204);
font: normal 15pt Arial;
}

header{
color: white;
text-align: center;
}
section{
background: white;
border-radius: 25px;
padding: 10px;
width: 400px;
margin: auto;
box-shadow: rgb(70, 65, 65) 5px 5px 10px;
}
div{
    text-align: center;
    padding: 10px;
}

footer{
color: white;
text-align: center;
font-style: italic;

}